[user]
    name = Vladislav Odintsov
    email = odivlad@gmail.com
    signingkey = "724CB56143E9AF75747C528D4B5DF011A1AC801D"
[core]
    editor = "vim"
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[alias]
    br = branch
    ci = commit -asS
    co = checkout
    gr = grep -n --color --extended-regexp
    me = merge --no-commit
    mt = mergetool --no-prompt
    pa = push --all
    pt = push --tags
    rb = rebase --committer-date-is-author-date
    st = status
    up = remote update
    upd = remote update --prune
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[merge]
    tool = vimdiff
[mergetool "meld"]
    cmd = "meld $LOCAL $MERGED $REMOTE"
[mergetool "vimdiff"]
    cmd = "vimdiff $LOCAL $MERGED $REMOTE"
[push]
    default = matching
[color]
    ui = true
